USE [KRManagement]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maDichVu] [nvarchar](50) NOT NULL,
	[soLuong] [int] NOT NULL,
	[giaBan] [int] NOT NULL,
 CONSTRAINT [PK_CTDichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC,
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maPhong] [nvarchar](50) NOT NULL,
	[thoiGianSuDung] [nvarchar](50) NULL,
	[giaPhong] [int] NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [nvarchar](50) NOT NULL,
	[tenDichVu] [nvarchar](50) NOT NULL,
	[maLoaiDichVu] [nvarchar](50) NOT NULL,
	[donViTinh] [nvarchar](50) NULL,
	[soLuongTon] [int] NOT NULL,
	[giaBan] [int] NOT NULL,
 CONSTRAINT [PK__DichVu__80F48B09894B9BEF] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [nvarchar](50) NOT NULL,
	[maNhanVien] [nvarchar](50) NOT NULL,
	[maKhachHang] [nvarchar](50) NOT NULL,
	[maPhong] [nvarchar](50) NOT NULL,
	[thoiGianVao] [datetime] NOT NULL,
	[thoiGianRa] [datetime] NULL,
	[tinhTrangHD] [int] NOT NULL,
	[khuyenMai] [nvarchar](50) NULL,
 CONSTRAINT [PK__HoaDon__026B4D9A45063E22] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [nvarchar](50) NOT NULL,
	[tenKhachHang] [nvarchar](50) NOT NULL,
	[soDienThoai] [nvarchar](50) NULL,
	[CCCD] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NULL,
	[ngaySinh] [date] NULL,
 CONSTRAINT [PK__KhachHan__7A3ECFE488B8BD0E] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[maLoaiDichVu] [nvarchar](50) NOT NULL,
	[tenLoaiDichVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__LoaiDich__262078110FD3F867] PRIMARY KEY CLUSTERED 
(
	[maLoaiDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiPhong] [nvarchar](50) NOT NULL,
	[tenLoaiPhong] [nvarchar](50) NOT NULL,
	[sucChua] [int] NULL,
 CONSTRAINT [PK__LoaiPhon__7A3EB71DC0E4EA6D] PRIMARY KEY CLUSTERED 
(
	[maLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [nvarchar](50) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[soDienThoai] [nvarchar](50) NOT NULL,
	[CCCD] [nvarchar](50) NOT NULL,
	[gioiTinh] [bit] NOT NULL,
	[ngaySinh] [date] NOT NULL,
	[diaChi] [nvarchar](50) NOT NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[taiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__NhanVien__BDDEF20D0A3E9CBD] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPhieuDat] [nvarchar](50) NOT NULL,
	[thoiGianGoi] [datetime] NULL,
	[thoiGianDat] [datetime] NULL,
	[maNhanVien] [nvarchar](50) NOT NULL,
	[maKhachHang] [nvarchar](50) NULL,
	[maPhong] [nvarchar](50) NULL,
	[trangThai] [int] NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[maPhieuDat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [nvarchar](50) NOT NULL,
	[maLoaiPhong] [nvarchar](50) NOT NULL,
	[tinhTrang] [nvarchar](50) NOT NULL,
	[viTri] [nvarchar](50) NOT NULL,
	[giaPhong] [int] NULL,
 CONSTRAINT [PK__Phong__4CD55E10EE047859] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 11/21/2023 12:45:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taiKhoan] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
	[tinhTrang] [bit] NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [giaBan]) VALUES (N'HD0000005', N'DV001', 1, 70000)
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [giaBan]) VALUES (N'HD0000006', N'DV001', 2, 70000)
INSERT [dbo].[ChiTietDichVu] ([maHoaDon], [maDichVu], [soLuong], [giaBan]) VALUES (N'HD0000008', N'DV001', 1, 70000)
GO
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiGianSuDung], [giaPhong]) VALUES (N'HD0000001', N'P101', N'3 giờ 2 phút', 350000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiGianSuDung], [giaPhong]) VALUES (N'HD0000002', N'P102', N'4 giờ 29 phút', 230000)
INSERT [dbo].[ChiTietHoaDon] ([maHoaDon], [maPhong], [thoiGianSuDung], [giaPhong]) VALUES (N'HD0000003', N'P109', N'8 giờ 33 phút', 230000)
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [maLoaiDichVu], [donViTinh], [soLuongTon], [giaBan]) VALUES (N'DV001', N'Trái cây', N'LDV01', N'Đĩa', 47, 70000)
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [maLoaiDichVu], [donViTinh], [soLuongTon], [giaBan]) VALUES (N'DV002', N'Khô gà', N'LDV04', N'Đĩa', 43, 75000)
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [maLoaiDichVu], [donViTinh], [soLuongTon], [giaBan]) VALUES (N'DV003', N'Khô bò', N'LDV04', N'Đĩa', 33, 85000)
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [maPhong], [thoiGianVao], [thoiGianRa], [tinhTrangHD], [khuyenMai]) VALUES (N'HD0000001', N'NV01', N'KH0009', N'P101', CAST(N'2023-10-25T19:46:10.007' AS DateTime), CAST(N'2023-10-25T22:49:47.027' AS DateTime), 1, N'')
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [maPhong], [thoiGianVao], [thoiGianRa], [tinhTrangHD], [khuyenMai]) VALUES (N'HD0000002', N'NV01', N'KH0019', N'P102', CAST(N'2023-10-29T18:20:15.717' AS DateTime), CAST(N'2023-10-29T22:49:52.543' AS DateTime), 1, N'')
INSERT [dbo].[HoaDon] ([maHoaDon], [maNhanVien], [maKhachHang], [maPhong], [thoiGianVao], [thoiGianRa], [tinhTrangHD], [khuyenMai]) VALUES (N'HD0000003', N'NV01', N'KH0017', N'P109', CAST(N'2023-11-01T14:15:23.043' AS DateTime), CAST(N'2023-11-01T22:49:56.183' AS DateTime), 1, N'')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh]) VALUES (N'KH0001', N'Hồ Ngọc Hà', N'0988921211', N'042388812199', 0, CAST(N'1992-12-24' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh]) VALUES (N'KH0002', N'Phạm Hoàng Thảo', N'0918951211', N'042435612199', 1, CAST(N'1996-11-23' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [tenKhachHang], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh]) VALUES (N'KH0003', N'Hà Thế Đức', N'0990512126', N'042765892199', 1, CAST(N'1998-04-21' AS Date))
GO
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoaiDichVu]) VALUES (N'LDV01', N'Trái cây')
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoaiDichVu]) VALUES (N'LDV02', N'Đồ uống có cồn')
INSERT [dbo].[LoaiDichVu] ([maLoaiDichVu], [tenLoaiDichVu]) VALUES (N'LDV03', N'Đồ uống không cồn')
GO
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [sucChua]) VALUES (N'PL', N'Phòng lớn', 20)
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [sucChua]) VALUES (N'PN', N'Phòng nhỏ', 5)
INSERT [dbo].[LoaiPhong] ([maLoaiPhong], [tenLoaiPhong], [sucChua]) VALUES (N'PV', N'Phòng vừa', 10)
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh], [diaChi], [chucVu], [trangThai], [taiKhoan]) VALUES (N'NV01', N'Mai Thái Vũ', N'0973774811', N'042388844499', 1, CAST(N'2001-01-01' AS Date), N'Bình Thạnh', N'Quản lý', N'Đang làm', N'maithaivu')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh], [diaChi], [chucVu], [trangThai], [taiKhoan]) VALUES (N'NV02', N'Đặng Nguyên Vũ', N'0715344673', N'042311189898', 1, CAST(N'1996-12-23' AS Date), N'Bình Tân', N'Nhân viên', N'Đang làm', N'dangnguyenvu')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [soDienThoai], [CCCD], [gioiTinh], [ngaySinh], [diaChi], [chucVu], [trangThai], [taiKhoan]) VALUES (N'NV03', N'Hoàng Gia Bảo', N'0998234777', N'042303001234', 1, CAST(N'2001-11-21' AS Date), N'Phú Nhuận', N'Nhân viên', N'Đã nghỉ', N'hoanggiabao')
GO
INSERT [dbo].[PhieuDatPhong] ([maPhieuDat], [thoiGianGoi], [thoiGianDat], [maNhanVien], [maKhachHang], [maPhong], [trangThai]) VALUES (N'PDP0001', CAST(N'2023-11-21T12:40:21.967' AS DateTime), CAST(N'2023-11-22T08:00:00.000' AS DateTime), N'NV01', N'KH0012', N'P108', 1)
GO
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tinhTrang], [viTri], [giaPhong]) VALUES (N'P101', N'VIP', N'Trống', N'Tầng trệt', 350000)
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tinhTrang], [viTri], [giaPhong]) VALUES (N'P102', N'PL', N'Trống', N'Tầng trệt', 230000)
INSERT [dbo].[Phong] ([maPhong], [maLoaiPhong], [tinhTrang], [viTri], [giaPhong]) VALUES (N'P103', N'PL', N'Trống', N'Tầng trệt', 230000)
GO
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [tinhTrang]) VALUES (N'buibichtram', N'1', 1)
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [tinhTrang]) VALUES (N'dangnguyenvu', N'1', 1)
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau], [tinhTrang]) VALUES (N'hoanggiabao', N'1', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NhanVien__B4C453187BD25935]    Script Date: 11/21/2023 12:45:30 PM ******/
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [UQ__NhanVien__B4C453187BD25935] UNIQUE NONCLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDichVu] ADD  CONSTRAINT [DF__CTDichVu__soLuon__3C69FB99]  DEFAULT ((1)) FOR [soLuong]
GO
ALTER TABLE [dbo].[DichVu] ADD  CONSTRAINT [DF__DichVu__soLuongT__30F848ED]  DEFAULT ((0)) FOR [soLuongTon]
GO
ALTER TABLE [dbo].[DichVu] ADD  CONSTRAINT [DF__DichVu__giaBan__2F10007B]  DEFAULT ((0)) FOR [giaBan]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__ngayGioD__4316F928]  DEFAULT (getdate()) FOR [thoiGianVao]
GO
ALTER TABLE [dbo].[HoaDon] ADD  CONSTRAINT [DF__HoaDon__tinhTran__440B1D61]  DEFAULT ((0)) FOR [tinhTrangHD]
GO
ALTER TABLE [dbo].[LoaiPhong] ADD  CONSTRAINT [DF__LoaiPhong__sucCh__34C8D9D1]  DEFAULT ((0)) FOR [sucChua]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__chucVu__267ABA7A]  DEFAULT (N'Nhân Viên') FOR [chucVu]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF__NhanVien__trangT__286302EC]  DEFAULT (N'Đang làm') FOR [trangThai]
GO
ALTER TABLE [dbo].[Phong] ADD  CONSTRAINT [DF__Phong__tinhTrang__3A81B327]  DEFAULT ((0)) FOR [tinhTrang]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_HoaDon1] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_HoaDon1]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Phong1] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Phong1]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_LoaiDichVu] FOREIGN KEY([maLoaiDichVu])
REFERENCES [dbo].[LoaiDichVu] ([maLoaiDichVu])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_LoaiDichVu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_NhanVien]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong] FOREIGN KEY([maLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiPhong])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK__DichVu__giaBan__300424B4] CHECK  (([giaBan]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK__DichVu__giaBan__300424B4]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK__DichVu__giaBan__7B5B524B] CHECK  (([giaBan]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK__DichVu__giaBan__7B5B524B]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK__DichVu__soLuongT__31EC6D26] CHECK  (([soLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK__DichVu__soLuongT__31EC6D26]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [CK__DichVu__soLuongT__7C4F7684] CHECK  (([soLuongTon]>=(0)))
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [CK__DichVu__soLuongT__7C4F7684]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [CK__LoaiPhong__sucCh__00200768] CHECK  (([sucChua]>(0)))
GO
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [CK__LoaiPhong__sucCh__00200768]
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD  CONSTRAINT [CK__LoaiPhong__sucCh__35BCFE0A] CHECK  (([sucChua]>(0)))
GO
ALTER TABLE [dbo].[LoaiPhong] CHECK CONSTRAINT [CK__LoaiPhong__sucCh__35BCFE0A]
GO
